
<div><h1>home sections</h1></div>



































<!-- <div>
 

    <p>
        <ngb-alert [dismissible]="false">
          <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </ngb-alert>
      </p>

      <div class="btn-group" role="group">
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" class="btn-check" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" class="btn-check" ngbButton [(ngModel)]="model.middle"> Middle
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" class="btn-check" ngbButton [(ngModel)]="model.right"> Right
        </label>
      </div>
      <hr>
      <img src="/assets/pic1.jpg" alt="" srcset="" height="300" width="300">
      <a href="home">sameer</a>
      <a href="navbr">sa</a>

    

    
</div>

 -->
